
basecalls: "basecalls.tsv"
output_dir: "results"
refgenome:
  refgenome_id: "GRCh38"
  refgenome_path: "resources/GRCh38.fasta.gz"

matrix_resolutions:
  base: 1000
  zoomify: 
    - 1000
    - 2000
    - 5000
    - 10000
    - 25000
    - 50000
    - 100000
    - 250000
    - 500000
    - 1000000
    - 2500000
    - 5000000
    - 10000000
software: 
  bwa: 
    cli_opts: "bwasw -b 5 -q 2 -r 1 -T 15 -z 10"
    threads: 35
  pore_c: 
    create_alignment_table: 
      threads: 5
    create_pairs_file: 
      threads: 4
    to_salsa_bed: 
      threads: 4
